<!DOCTYPE HTML>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Bookpassion - Главная страница</title>
    <link rel="stylesheet" href="/static/index_style.css">
</head>

<head th:insert="blocks\head :: head"></head>

<body class="d-flex flex-column h-100">

<header th:insert="blocks\header :: header" class="sticky-top"></header>

<hr class="clear">

<main class="container-lg">
    <div class="row">
        <div class="col">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/img/1.jpeg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/2.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/4.jpg" class="d-block w-100">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"  data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Предыдущий</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"  data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Следующий</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="pt-5 px-5 mx-auto">
                <a href="/catalog/genre/Бизнес"><img class="main_img" src="/img/bus.PNG"></a>
                <div class="btn-group mt-3">
                    <a href="/catalog/genre/Бизнес" class="btn btn-outline-success">Бизнес</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="pt-5 px-5 mx-auto">
                <a href="/catalog/genre/Классика"><img class="main_img" src="/img/klas.PNG"></a>
                <div class="btn-group mt-3">
                    <a href="/catalog/genre/Классика" class="btn btn-outline-success">Классика</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="pt-5 px-5 mx-auto">
                <a href="/catalog/genre/Ужастики"><img class="main_img" src="/img/rom.PNG"></a>
                <div class="btn-group mt-3">
                    <a href="/catalog/genre/Ужастики" class="btn btn-outline-success">Романы</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="pt-5 px-5 mx-auto">
                <a href="/catalog/genre/Саморазвитие"><img class="main_img" src="/img/raz.PNG"></a>
                <div class="btn-group mt-3">
                    <a href="/catalog/genre/Саморазвитие" class="btn btn-outline-success">Саморазвитие</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="pt-5 px-5 mx-auto">
                <a href="/catalog/genre/Боевики"><img class="main_img" src="/img/boev.PNG"></a>
                <div class="btn-group mt-3">
                    <a href="/catalog/genre/Боевики" class="btn btn-outline-success">Боевики</a>
                </div>
            </div>
        </div>
    </div>
    <div class="pt-5"></div>
</main>

<hr class="clear">

<footer th:insert="blocks/footer :: footer" class="footer mt-auto py-1 bg-success"></footer>

</body>

</html>
